.header {
    $left-width: 350px;
    $left-width-md: 290px;
    background-color: $background-blue;

    &__row {
        $padd: 12px;
        @include _flexbox();
        @include _align-items(center);
        padding-top: $padd;
        padding-bottom: $padd;
        @include media(md) {
            @include _justify-content(space-between);
        }
    }

    &__logo {
        width: $left-width;
        @include media(lg) {
            width: $left-width-md;
        }

        svg, img {
            max-width: 250px;
            @include media(lg) {
                max-width: 200px;
            }
        }

    }

    &__contacts {
        width: calc(100% - #{$left-width});
        @include _flexbox();
        @include _justify-content(space-between);
        @include _align-items(center);
        padding: 0 50px;
        transition: all .16s linear;

        @include media(lg) {
            width: calc(100% - #{$left-width-md});
            padding: 0px;
        }
        @include media(md) {
            width: 100%;
            position: fixed;
            z-index: 999;
            top: 0;
            bottom: 0;
            max-width: 290px;
            background-color: $background-blue;
            right: 0;
            @include _flex-flow(column nowrap);
            @include _justify-content(flex-start);
            padding: 80px 30px 30px 30px;
            transform: translateX(100%);

            .menu__active & {
                transform: translateX(0%);
            }

        }

        span {
            color: #fff;
            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            @include media(lg) {
                font-size: 16px;
                line-height: 20px;
            }
            @include media(md) {
                display: block;
                margin: 0 0 30px 0;
            }
        }

        &-phone {
            @include _flexbox();
            @include _flex-flow(column nowrap);

            a {
                @include _flexbox();
                @include _align-items(center);
                font-size: 24px;
                line-height: 32px;
                color: $color-green;
                font-weight: 700;
                position: relative;
                @include media(lg) {
                    font-size: 18px;
                    line-height: 24px;
                }

                &::before {
                    $size: 18px;
                    content: '';
                    display: inline-block;
                    background: url('../images/ic_tel_green.svg') center center no-repeat;
                    background-size: contain;
                    width: $size;
                    height: $size;
                    margin: 0 15px 0 0;
                }

            }

        }

        &-sms {
            @include _flexbox();
            @include _align-items(center);
            color: $color-green;
            font-size: 24px;
            line-height: 24px;
            @include media(lg) {
                font-size: 18px;
                line-height: 20px;
            }

            svg, img {
                margin: 0 15px 0 0;
            }

        }

    }

    &__btnmenu {
        $size: 40px;
        width: $size;
        height: $size;
        padding: 0;
        margin: 0;
        border: none;
        position: relative;
        display: none;
        background: none;
        cursor: pointer;
        @include media(md) {
            display: block;
        }

        .menu__active & {
            position: fixed;
            z-index: 9999;
            right: 30px;
        }

        i {
            display: block;
            position: absolute;
            right: 0;
            height: 3px;
            background-color: $background-green;
            transition: all .10s linear;

            &:nth-child(1) {
                width: $size;
                top: 7px;
                .menu__active & {
                    transform: rotate(-45deg);
                    top: 20px;
                }
            }
            &:nth-child(2) {
                width: $size / 1.5;
                top: 50%;
                transform: translateY(-50%);

                .menu__active & {
                    width: 0;
                }
            }
            &:nth-child(3) {
                width: $size;
                bottom: 7px;
                .menu__active & {
                    transform: rotate(45deg);
                    top: 20px;
                }
            }

        }
    }

}


